Source: canaima-ayuda
Section: misc
Priority: optional
Maintainer: Sasha Veronica Solano Grosjean <sasha.solano@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: https://github.com/ssolano/ayuda-ginamon.git

Package: canaima-ayuda
Architecture: all
Depends: gnome-user-guide,
	yelp,
	${misc:Depends}
Description: Ayuda de Canaima GNU/Linux
 Archivos de ayuda de Canaima para el escritorio Gnamon


